@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
body {
    background: #000000;
    font-family: Montserrat;
    margin: 0;
    color: white;
    padding: 1em 1em 1em 8em;
}

.about {
    display: flex;
    margin-right: 20%;
    margin-left: 5%;
    margin-top: 20%;
    letter-spacing: 1px;
    line-height: 1.5;
    flex-wrap:wrap;
}
.mail{

    font-weight:bolder
}