body {
}

.detail{
    padding-top:1em;
}
.what{
    font-size:1.2em;
    margin-bottom:2em;
    padding-left:2em;
    .diaflame-big{

        font-size:2em;
        
    }


}

.constraint{
    padding-left:2em;
  


}

img{
    
    width:87%;
    padding-top: 2em;
    

}
.cleaning{

    width:85%;
    padding-left:2em;
}

li{
   margin-left:0px;


}
.Why {
    padding-top: 2em;
    padding-left: 2em;
    font-size:1.2em;
}

.cooktop {
    width: 83%;
    padding-left: 2em;
}