

.detail {
    padding-top: 1em;
    
    margin-right: 20%;
}
.what {
    margin-top:5em;
    margin-right: 20%;
    margin-left: 5%;
    font-size: 1.2em;
    margin-bottom: 2em;
    

    .diaflame-big {
        font-size: 2em;
    }
}

.constraint {
    margin-top: 5em;
    margin-right: 20%;
    margin-left: 5%;
}

img{
    
    width:100%;
    padding-top: 2em;
    

}


li{
   margin-left:0px;


}
.Why {
    margin-top: 5em;
    margin-right: 20%;
    margin-left: 5%;
    font-size: 1.2em;
}

.cooktop {
    width: 83%;
    padding-left: 2em;
}

.diaflame_image {
    display: flex;
    margin-right: 20%;
    margin-left: 5%;
}