.container {
    display: flex;
    border-color: white;
    padding: 2em 10% ;
    justify-content: flex-start;
    flex-wrap: wrap;

    
}
img {
    height: auto;
    border-radius: 1em;
    width: 2em;
    margin: .1em;
}

