.my-info {
    display: flex;
    margin-right: 20%;
    margin-left:5%;
    
    margin-top:10em;
    margin-bottom: 10em;
    
    font-size: 2em;
    letter-spacing: .1em;
    align-content: center;
    justify-content: flex-start;
}
.container {
    display: flex;
    margin-right: 20%;
    margin-left: 5%;
    flex-wrap: wrap;
    justify-content:flex-start;
}
img {
   padding :5px;
    
   
   
    
    
    border-radius: 10px;
    
}
.container > div {

flex:1 1  500px;
}
