.navbar {
    display: flex;
    margin-right: 20%;
    margin-left: 5%;
    
}

  .name {
    justify-content:flex-end;

  }

  .Work{

      margin-left:auto;
      padding-right:30px;
  }

a {
  text-decoration: none;
  color: white; }


