



.photogrammetry-heading {
    margin-right: 20%;
    margin-left: 5%;
    font-size: 2em;
    padding-bottom: 1em;
    font-weight: normal;
    margin-top: 1em;
}
.heading_detail {
    margin-right: 20%;
    margin-left: 5%;
}
.photogrammetry-heading-1 {
    font-size: 2em;
    padding-bottom: 0em;
    font-weight: normal;
}


img {
    height: 50%;
    width: 100%;
    margin:1em 0 1em 0;

    }

.container {
    display: flex;
    margin-right: 20%;
    margin-left: 5%;
    flex-wrap: wrap;
    justify-content: flex-start;
}