@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
body {
  background: #000000;
  font-family: Montserrat;
  margin: 0;
  color: white;
  padding: 1em 8em;
}

.container {
  display: flex;
  border-color: white;
  margin-top: 5em;
  margin-right: 20%;
  margin-left: 5%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

img {
  height: auto;
  border-radius: 10px;
  width: 638px;
  margin: 1px;
}

.container > div {
  flex: 1 1 300px;
}
