


img {
        
    height: auto;
    width: 100%;
    margin-top:1em;
    
}

.container {
    border-color: white;
    display: flex;
    margin-right: 20%;
    margin-left: 5%;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.top {
    display: flex;
    margin-right: 20%;
    margin-left: 5%;
    
    
}
.yantra-heading {
    font-size: 2em;
    padding-top: 2em;
    padding-bottom: 0.5em;
    font-weight: normal;
}

.yantra-description{
  margin-top:1em;

}

