img {
  position: relative;
  height: auto;
  width: 100%;
  padding: 0em 0em 2em 2.5em; }

.container {
  border-color: white;
  width: 85%; }

.top {
  padding: 2.5em; }

.yantra-heading {
  font-size: 2em;
  padding-bottom: 1em;
  font-weight: normal; }

.yantra-description {
  margin-left: 2.5em;
  margin-right: 8em; }

.queue {
  width: 85%;
  margin-top: 1.5em;
  margin-right: 5em; }

.video {
  padding-left: 7.5em; }
