<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <!--compilation debug="true" targetFramework="4.0"/-->
          <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
  </system.webServer>
	<location path="Images">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="immutable" />
            </staticContent>
        </system.webServer>
    </location>

</configuration>